<!DOCTYPE html>
<html>
<head>
<title>Available Drives</title>
</head>
<body>

<div style="background-color:rgb(62,225,225); height:100px; text-align:center; display:flex; justify-content:center; align-items:center;">
<h1>Placement Portal Application</h1>
</div>

<br>

<h2 style="text-align:center;">Approved Placement Drives</h2>

<table border="1" align="center" cellpadding="10">

<tr>
<th>ID</th>
<th>Company</th>
<th>Job Title</th>
<th>Eligibility</th>
<th>Deadline</th>
<th>Action</th>
</tr>

{% for drive in drives %}

<tr>
<td>{{ drive[0] }}</td>
<td>{{ drive[1] }}</td>
<td>{{ drive[2] }}</td>
<td>{{ drive[3] }}</td>
<td>{{ drive[4] }}</td>

<td>
<a href="/student/apply/{{ drive[0] }}">Apply</a>
</td>

</tr>

{% endfor %}

</table>

<br><br>
<div>
    <center>
        <a href="/student/dashboard">Back</a>
    </center>
</div>
</body>
</html>