<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div style="background-color:rgb(62, 225, 225); height:100px; width:1300px; text-align:center; display:flex; justify-content:center; align-items: center; "><h1>Placement portal Application</h1> </div><br>
        <center>
            <h1>Find your dream job now</h1>
            <center>
                5 lakh+ jobs for you to explore
            </center><br>
        </center>
        <center>
        <div style="width:200px; height:100px; border: 2px solid black; text-align:center; display:flex; justify-content:center; align-items: center; background-color:azure"><a href="/admin/login">Admin</a></div><br>
        <div style="width:200px; height:100px; border: 2px solid black; text-align:center; display:flex; justify-content:center; align-items: center; background-color:azure"><a href="/company/register">Company</a></div><br>
        <div style="width:200px; height:100px; border: 2px solid black; text-align:center; display:flex; justify-content:center; align-items: center; background-color:azure"><a href="/student/registers">Student</a></div>
        </center
    </body>
</html>